<ul class='store'>
  <li>Name: <%= link_to store.name, root_path %></li>
  <li>City: <%= store.city %></li>
  <li>Distance: <%= store.distance %></li>
  <li>Phone Number: <%= store.phone_number %></li>
  <li>Type: <%= store.type_of_store %></li>
</ul>
